* {
  font-family: monospace;
  color: lime;
}

body {
  margin: 0px;
  background-color: black;
}

.centralizar {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-text {
  font-size: 10px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    -webkit-filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    filter: drop-shadow(0 0 0 rgba(0,0,0,0));
    text-shadow: 0 0 10px rgba(0,0,0,0);
  }
  to {
    -webkit-filter: drop-shadow(0 0 5px lime);
    filter: drop-shadow(0 0 5px lime);
    text-shadow: 0 0 10px lime, 0 0 10px lime, 0 0 10px lime;
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.social-media a {
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  text-decoration: none;
  border: 1px solid lime;
  border-radius: 5px;
}

.social-media a:hover {
  color: black;
  background-color: lime;
}

.social-media a i:hover{
  color: white;
}

img {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
